{% extends 'feeds/base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'feeds/css/index.css' %}" />
{% endblock %}

{% block title %} RSS Source {% endblock %}

{% block content %}
    <div class="source-wrapper">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Add"/>
        </form>
        {% if message %}
            {{message}}
        {% endif %}

        <h1> The feeds are parsed from sources: </h1>
        <ul>
        {% for source in sources %}
            <li>
                <p>{{source.title}}</p> - <a href="">{{source.link}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}